body {
    padding-top: 50px;
    font-size: 13px;
  }
  .template {
    padding: 0px 15px;
  }
  .clear {
    width: 100%;
    clear: both;
  }
  hr {
    border-color: #000;
  }
  .navbar-inverse {
    background-image: none;
    background-color: #303e4a;
  }
  .navbar-brand {
    height: auto;
    padding: 5px 15px;
  }
  .navbar-brand img {
    float: left;
  }
  .navbar-brand span {
    line-height: 41px;
    color: #fff;
  }
  .glyphicon {
    cursor: pointer;
  }
  .navbar-right {
    padding-right: 20px;
  }
  
  
  
  /*
   * Main content
   */
  
  .main {
    padding: 20px;
  }
  @media (min-width: 768px) {
    .main {
      padding-right: 40px;
      padding-left: 40px;
    }
  }
  .main .page-header {
    margin-top: 0;
  }
  
  /* LOGIN PAGE */
  .adfs-item a {
      height: 250px;
      line-height: 250px;
      text-align: center;
      background: #fff;
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      margin-top: 25px;
  }
  .adfs-item:hover a {
      background: #e8f9ff;
  }
  .adfs-item a {
      display: block;
      font-size: 20px;
  }
  
  /* vvv Fonts vvv */
  .font16px {
    font-size: 16px;
  }
  .font20px{
    font-size: 20px;
  }
  /* ^^^ Fonts ^^^ */
  
  /* vvv Tables vvv */
  .table-striped > thead {
      background-color: #f2f2f2;
  }
  .table-striped > thead > tr > th {
    color: #5c5c5c;
    font-weight: 400;
    border-top: none;
    border-bottom: 1px solid #dbdbdb;
    border-left: none;
    border-right: none; 
    vertical-align: middle; 
  }
  .table-striped > tbody > tr > td {
    color: #2d3844;
    vertical-align: middle;
  }
  .table-striped > tbody > tr > td > a {
    color: #0b0080;
    font-weight: bold;
  }
  .table-striped > tbody > tr > td.region-name,
  .table-striped > tbody > tr > td > a.region-name {
    color: #0277bd;
    font-weight: bold;
  }
  .table-striped > tbody > tr > td.status {
    font-weight: bold;
  }
  .table-striped > tbody > tr:nth-child(2n) > td {
    background-color: #fbfbfb;
    vertical-align: middle;
  }
  .table-striped > tbody > tr:nth-child(2n+1) > td {
    background-color: white;
    vertical-align: middle;
  }
  /* ^^^ Tables ^^^ */
  
  /* vvv DashboardRegions vvv */
  .tableSettings {
    cursor: pointer;
    font-size: 20px;
    margin-left: 15px;
  }
  .chart-grid {
      margin-left: 0px;
      margin-right: 0px;
  }
  .select-interval {
      margin-top: 30px;
  }
  .set-params-col {
      width: 43%;
      float: left;
  }
  .serie-title {
    font-size: 18px;
    background-color: #ccc !important;
  }
  .toolbar-params-sett {
      float: left;
      width: 8%;
      margin-left: 1%;
      margin-right: 1%;
      text-align: center;
      margin-top: 78px;
  }
  .toolbar-params-sett button {
    margin-bottom: 3px;
  }
  .set-params-col select[multiple] {
    height: 200px;
  }
  .left-col {
      padding: 0px;
      border-right: 1px solid #ddd;
  }
  .right-col {
      padding-right: 0px;
      padding-left: 0px;
  }
  
  @media  (max-width: 768px){
      .right-col {
          /*padding: 0px;*/
          margin-left: 5px;
          margin-right: 5px;
      }
  }
  
  .map {
      position: relative;
  }
  .map img {
      width: 100%;
  }
  .MapToolBar progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    float: left;
    width: 100%;
    height: 5px;
    border: none;
    background-color: #B1C9E7;
  }
  .MapToolBar progress::-moz-progress-bar {
      background-color: #0277bd;
  }
  .MapToolBar progress::-ms-fill {
      background-color: #B1C9E7;
  }
  .MapToolBar progress[value]::-webkit-progress-bar {
      background-color: #B1C9E7;
  }
  .MapToolBar progress[value]::-webkit-progress-value {
      background-color: #0277bd;
  }
  .MapToolBar {
      position: absolute;
      width: 100%;
      bottom: 0px;
      left: 0px;
      background-color: #2d3844;
  }
  .MapToolBar h5 {
      color: #fff;
      padding-left: 10px;
      margin-bottom: 5px;
      float: left;
      padding-right: 10px;
      font-size: 15px;
  }
  .MapToolBar .glyphicon {
      float: right;
      color: #fff;
      font-size: 16px;
      padding: 7px;
  }
  .progress-bar-success {
      background-color: #2bbb72;
  }
  .progress-bar-danger {
      background-color: #d1191b;
  }
  .progress {
      height: 5px !important;
      margin-left: 1em;
      /*margin-top: 0.5em;*/
      border-radius: 2.5px;
      margin-bottom: 0;
  }
  .table {
      margin-bottom: 0px;
  }
  .params-table .table>tbody>tr>th, .params-table .table>tbody>tr>td {
      vertical-align: middle;
  }
  /*"Reload" hover as well since the default one doesn't work due to changes related to odd and even rows color*/
  .table-hover>tbody>tr:hover>td {
      background-color: #e8f9ff;
  }
  .table-hover>tbody.loading_tbody>tr:hover>td {
      background-color: transparent;
  }
  .border-left-none {
      border-left: none !important;
  }
  
  .status_icon {
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-right: 10px;
      margin-top: -2px;
      vertical-align: middle;
  }
  .s-good .status {
      color: #2bbb72;
  }
  .s-medium .status {
      color: #debd0d
  }
  .s-high .status {
      color: #d1191b
  }
  .maps_marks {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
  }
  .point {
      cursor: pointer;
  }
  .point-label {
      display: none;
  }
  .point:hover .point-label {
      display: block;
  }
  .one-chart {
      padding-right: 0px;
      padding-left: 0px;
      border-bottom: 0.5px solid #d9d9d9;
  }
  .one-chart.pie {
      border-right: 0.5px solid #d9d9d9;
      border-left: 0.5px solid #d9d9d9;
  }
  .one-chart h4 {
      white-space: nowrap;
      overflow:hidden !important;
      text-overflow: ellipsis;
      width: 100%;
      font-size: 14px;
      color: #515151;
      padding-bottom: 10px;
      text-align: center;
      margin-bottom: 0px;
      font-weight: bold;
      line-height: 1em;
  }
  .one-chart.pie h4 {
      border-bottom: 1px solid #d9d9d9;
  }
  .one-chart b.val {
      color: #515151;
      position: absolute;
      display: block;
      top: 45%;
      font-size: 18px;
      left: 0px;
      width: 100%;
      text-align: center;
  }
  
  .legend-icon {
      font-size: 0.9em;
      font-weight: bold;
      min-width: 76px;
  }
  .legend-icon::after {
      content: " ";
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 2.5px;
      vertical-align: middle;
      margin-bottom: 1px;
  }
  
  .legend-icon-high::after {
      background-color: #d1191b
  }
  
  .legend-icon-good::after {
      background-color: #2bbb72
  }
  .sortable th.yes {
      cursor: pointer;
      /*text-decoration: underline;*/
  }
  .sortable th.sort-active {
      font-weight: bold;
  }
  .sortable th {
      font-weight: normal;
  }
  /* PIE chart styles */
  .chart-item {
      margin-bottom: 10px;
      float: left;
      width: 100%;
      text-align: center;
      color: #515151;
      padding-bottom: 11px;
  }
  .status_chart {
      display: block;
      position: absolute;
      left: 50%;
      top: 60%;
      margin-left: -9px;
  }
  /* Indicators styles */
  .indicator {
      text-align: center;
  }
  .indicator h4 {
      margin-bottom: 0px;
      margin-top: 0px;
      padding-bottom: 10px;
      padding-top: 10px;
      border-right: 0.5px solid #d9d9d9;
      border-left: 0.5px solid #d9d9d9;
      line-height: 1em;
  }
  .indicator a {
      color: #515151;
  }
  .indicator h5 {
      font-size: 18px;
      margin-top: 0px;
      margin-bottom: 0px;
      line-height: 1em;
  }
  .indicator .unit {
      font-size: 13px;
      font-weight: normal;
  }
  .indicator img {
      margin-top: 13px;
  }
  .indicator h5 {
      color: #515151;
      font-weight: bold;
      display: inline-block;
      width: 100%;
  }
  .ind_val{
      width: 100%;
  }
  .double_ind_val {
      width: 50%;
  }
  .ind_val,
  .double_ind_val {
      border-right: 0.5px solid #d9d9d9;
      border-left: 0.5px solid #d9d9d9;
      border-top: 0.5px solid #d9d9d9;
      border-bottom: 0px solid #d9d9d9;
      min-height: 172px;
      font-size: 14px;
      padding-bottom: 44.5px;
      padding-top: 44.5px;
  }
  .ind_val,
  .double_ind_val{
      float: left;
  }
  .ind_val > span,
  .double_ind_val > span {
      display: inline-block;
      margin-bottom: 13px;
      line-height: 1em;
  }
  .indicator .ind_val.Warning,
  .indicator .ind_val.Critical {
      background: #fdf6c9;
      border-color: #ffd800;
  }
  .indicator .ind_val.Vital {
      background: #fedfdf;
      border-color: #d1191b;
  }
  .indicator.Vital h4  {
      color: #d1191b;
  }
  .point .good-point .hover {
      display: none;
  }
  .point:hover .good-point .hover, .good-point.currently .hover {
      display: block;
  }
  .point:hover .good-point .general, .good-point.currently .general {
      display: none;
  }
  .region-name {
    color: #0277bd;
  }
  .region-name, .status {
      min-width: 12vw;
  }
  .detail-column {
      font-weight: normal !important;
      display: none;
  }
  .detail-column p {
      margin-top: 5px;
      margin-bottom: 5px;
  }
  .tableProgress {
      min-width: 15vw;
      font-weight: bold;
  }
  .params-table table.have_details .detail-column {
      display: table-cell;
  }
  .have_details .tableProgress {
      min-width: 8vw;
  }
  .have_details .region-name, .have_details .status, .have_details .calls {
      width: 1%;
      white-space:nowrap;
      min-width: 0px;
  }
  .region-chart-placeholder {
      border-bottom: 1px solid #ddd;
      text-align: center;
  }
  .chart-group-title {
      background: #303e4a;
      color: #fff;
      padding: 10px;
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 18px;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      text-transform: uppercase;
      text-align: center;
  }
  .under-construction {
      position: absolute;
      width: 60%;
      top: 3em;
      left: 20%;
      z-index: 10;
      opacity: 0.5;
  }
  .under-construction img {
      width: 100%;
      margin-top: 0px;
  }
  /* ^^^ DashboardRegions ^^^ */
  
  /* vvv DashboardSettings vvv */
  table tr th {
      padding: 5px 15px;
  }
  .arrow-bc {
      position: relative;
      font-size: 16px;
      top: -2px;
      margin-left: 5px;
      margin-right: 5px;
  }
  .settings {
      width: 60%;
  }
  .input_threshold{
       width: 20%;
       border: none;
       box-shadow: none;
       padding-top: 6px;
       padding-bottom: 6px;
       padding-right: 4px;
       padding-left: 0px;
       vertical-align: middle;
       border-bottom: 1px solid #ccc;
       border-bottom-left-radius: 4px;
       border-bottom-right-radius: 4px;
       text-align: right;
       margin-left:5px;
       margin-right: 5px;
  }
  .form_threshold {
      margin-top:5px;
      margin-bottom:0px;
  }
  .control-thr {
       width: 23%;
       margin:0px;
  }
  .name_th {
      width: 15%;
  }
  .select_settings{
      width: 20%;
  }
  
  .input-settings{
      border: none;
      box-shadow: none;
      border-bottom: 1px solid #ccc;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      text-align: left;
      vertical-align: middle;
      padding-right: 0px;
      padding-left: 0px;
  }
  
  .form-control-settings {
      border: none;
      box-shadow: none;
      height: auto;
      border-bottom: 1px solid #ccc;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      vertical-align: middle;
  }
  .region-center {
      text-align: center;
  }
  
  .region-lable {
      width: 15%;
      text-align: center;
  }
  .action-col {
      font-size: 18px;
  }
  .action-col .glyphicon-edit {
      color: #3d9df2;
  }
  .action-col .glyphicon-remove-circle {
      color: #fc7f60;
  }
  .adfs-provider h1 {
      font-size: 20px;
      padding-top: 20px;
      padding-bottom: 25px;
  }
  .adfs-provider .form-horizontal .control-label {
      text-align: left;
      font-size: 14px;
  }
  .status-popup  {
      font-weight: bold;
  }
  .progress-color {
      color: #3d9df2;
  }
  .fail-color {
      color: #fc7f60;
  }
  .success-color {
      color: green;
      opacity: 0;
      -webkit-animation: hide-over-five 5s;
      -moz-animation: hide-over-five 5s;
      -o-animation: hide-over-five 5s;
      animation: hide-over-five 5s;
  }
  .btn-add-adfs {
      font-size: 20px;
      color: #3d9df2;
  }
  @keyframes hide-over-five {
      0% {
          opacity: 1;
      }
      80% {
          opacity: 0.75;
      }
      85% {
          opacity: 0.5;
      }
      90% {
          opacity: 0.25;
      }
      100% {
          opacity: 0;
      }
  }
  /* ^^^ DashboardSettings ^^^ */
  
  /* vvv Loading vvv */
  #floatBarsG{
      position:relative;
      width:126px;
      height:15px;
      margin:auto;
      margin-bottom: 50px;
      margin-top: 50px;
  }
  
  .floatBarsG{
      position:absolute;
      top:0;
      background-color:rgb(110,141,175);
      width:15px;
      height:15px;
      animation-name:bounce_floatBarsG;
          -o-animation-name:bounce_floatBarsG;
          -ms-animation-name:bounce_floatBarsG;
          -webkit-animation-name:bounce_floatBarsG;
          -moz-animation-name:bounce_floatBarsG;
      animation-duration:1.5s;
          -o-animation-duration:1.5s;
          -ms-animation-duration:1.5s;
          -webkit-animation-duration:1.5s;
          -moz-animation-duration:1.5s;
      animation-iteration-count:infinite;
          -o-animation-iteration-count:infinite;
          -ms-animation-iteration-count:infinite;
          -webkit-animation-iteration-count:infinite;
          -moz-animation-iteration-count:infinite;
      animation-direction:normal;
          -o-animation-direction:normal;
          -ms-animation-direction:normal;
          -webkit-animation-direction:normal;
          -moz-animation-direction:normal;
      transform:scale(.3);
          -o-transform:scale(.3);
          -ms-transform:scale(.3);
          -webkit-transform:scale(.3);
          -moz-transform:scale(.3);
  }
  
  #floatBarsG_1{
      left:0;
      animation-delay:0.6s;
          -o-animation-delay:0.6s;
          -ms-animation-delay:0.6s;
          -webkit-animation-delay:0.6s;
          -moz-animation-delay:0.6s;
  }
  
  #floatBarsG_2{
      left:16px;
      animation-delay:0.75s;
          -o-animation-delay:0.75s;
          -ms-animation-delay:0.75s;
          -webkit-animation-delay:0.75s;
          -moz-animation-delay:0.75s;
  }
  
  #floatBarsG_3{
      left:31px;
      animation-delay:0.9s;
          -o-animation-delay:0.9s;
          -ms-animation-delay:0.9s;
          -webkit-animation-delay:0.9s;
          -moz-animation-delay:0.9s;
  }
  
  #floatBarsG_4{
      left:47px;
      animation-delay:1.05s;
          -o-animation-delay:1.05s;
          -ms-animation-delay:1.05s;
          -webkit-animation-delay:1.05s;
          -moz-animation-delay:1.05s;
  }
  
  #floatBarsG_5{
      left:63px;
      animation-delay:1.2s;
          -o-animation-delay:1.2s;
          -ms-animation-delay:1.2s;
          -webkit-animation-delay:1.2s;
          -moz-animation-delay:1.2s;
  }
  
  #floatBarsG_6{
      left:79px;
      animation-delay:1.35s;
          -o-animation-delay:1.35s;
          -ms-animation-delay:1.35s;
          -webkit-animation-delay:1.35s;
          -moz-animation-delay:1.35s;
  }
  
  #floatBarsG_7{
      left:94px;
      animation-delay:1.5s;
          -o-animation-delay:1.5s;
          -ms-animation-delay:1.5s;
          -webkit-animation-delay:1.5s;
          -moz-animation-delay:1.5s;
  }
  
  #floatBarsG_8{
      left:110px;
      animation-delay:1.64s;
          -o-animation-delay:1.64s;
          -ms-animation-delay:1.64s;
          -webkit-animation-delay:1.64s;
          -moz-animation-delay:1.64s;
  }
  
  
  
  @keyframes bounce_floatBarsG{
      0%{
          transform:scale(1);
          background-color:rgb(110,141,175);
      }
  
      100%{
          transform:scale(.3);
          background-color:rgb(255,255,255);
      }
  }
  
  @-o-keyframes bounce_floatBarsG{
      0%{
          -o-transform:scale(1);
          background-color:rgb(110,141,175);
      }
  
      100%{
          -o-transform:scale(.3);
          background-color:rgb(255,255,255);
      }
  }
  
  @-ms-keyframes bounce_floatBarsG{
      0%{
          -ms-transform:scale(1);
          background-color:rgb(110,141,175);
      }
  
      100%{
          -ms-transform:scale(.3);
          background-color:rgb(255,255,255);
      }
  }
  
  @-webkit-keyframes bounce_floatBarsG{
      0%{
          -webkit-transform:scale(1);
          background-color:rgb(110,141,175);
      }
  
      100%{
          -webkit-transform:scale(.3);
          background-color:rgb(255,255,255);
      }
  }
  
  @-moz-keyframes bounce_floatBarsG{
      0%{
          -moz-transform:scale(1);
          background-color:rgb(110,141,175);
      }
  
      100%{
          -moz-transform:scale(.3);
          background-color:rgb(255,255,255);
      }
  }
  /* ^^^ Loading  ^^^ */
  
  /* vvv MachinesStats vvv */
  .right-part > tbody > tr:last-child{
    border-bottom: 1px solid #ddd;
  }
  .right-part > tbody > tr > td {
    height: 60px;
  }
  .table > thead > tr > th.no-border {
    border:none;
  }
  .table > tbody > tr > td {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .state {
    letter-spacing: 0.5px;
  }
  .critical {
    font-weight: bold !important; 
    color: #d1191b !important;
  }
  .full-height {
    margin-top: -50px;
  }
  .table > thead > tr > th.top-header {
    font-weight: bold;
    padding-top: 58px;
    line-height: 40px;
    font-size: 14px;
  }
  @media  (max-width: 1200px){
    .table > thead > tr > th.top-header {
      padding-top: 8px;
    }
    .full-height{
      height: unset;
      margin-top: 0px;
    }
  }
  
  @media  (min-width: 1200px){
    .border-fixed{
      position: fixed;
      height: 100vh;
      border-left: 1px solid #dbdbdb;
    }
    .full-height{
      margin-right: -15px;
      margin-left: -15px;
    }
  }
  /* ^^^ MachinesStats ^^^ */
  
  /* vvv PaginationTableStyle vvv */
  /* Table */
  .width25percnt>thead>tr>th,
  .width25percnt>tbody>tr>td {
    width: 25%;
    max-width: 25%;
  }
  .width7percnt>thead>tr>th,
  .width7percnt>tbody>tr>td {
    width: 7.14%;
    max-width: 7.14%;
  }
  .width11percnt>thead>tr>th,
  .width11percnt>tbody>tr>td {
    width: 11%;
    max-width: 11%;
  }
  .width14percnt>thead>tr>th,
  .width14percnt>tbody>tr>td {
    width: 14.28%;
    max-width: 14.28%;
  }
  .width50percnt>thead>tr>th,
  .width50percnt>tbody>tr>td {
    width: 50%;
    max-width: 50%;
  }
  
  .react-pagination-table>thead>tr>th,
  .react-pagination-table>tbody>tr>td {
      margin-bottom: 20px;
      height: 40px;
  }
  .react-pagination-table {
    border: 1px solid #dbdbdb;
  }
  
  .react-pagination-table .table {
      position: relative;
      margin-bottom: 20px;
      width: 100%;
      margin: auto;
  }
  
  /* Pagination Status */
  .pagination {
      float: right;
      user-select: none;
  }
  
  .pagination>.active>a,
  .pagination>.active>a:focus,
  .pagination>.active>a:hover {
      z-index: 3;
      color: #2d3844;
      cursor: default;
      background-color: #f5f5f5;
      box-shadow: inset 0px 2px 3px 0 rgba(0, 0, 0, 0.25);
  }
  
  .pagination>li:first-child>a {
      margin-left: 0;
      border: none;
      color: #2d3844;
  }
  
  .pagination>li:first-child>a:hover {
      background: transparent;
      color: #2d3844;
      cursor: default;
  }
  
  .pagination>li:nth-child(2)>a {
      margin-left: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
  }
  
  .pagination>div{
       float:left;
  }
  
  .pagination>div>ul{
      left: auto;
      right: 0px;
      min-width: auto;
  }
  
  .pagination>div>button{
      padding-right: 32px;
      margin-right: 5px;
      margin-top: 0px;
      background: transparent;
      border: none;
      box-shadow: none;
  }
  
  .pagination>div>button>div>div{
      display: inline-block;
      color: #0277bd;
  }
  
  .pagination>div>button>span{
      position: absolute;
      display: block;
      right: 18px;
      top: 14px;
      color: #0277bd;
  }
  
  .pagination>div>button:focus{
      background: transparent;
  }
  
  .dropdown-menu>li>a{
      width: 100%;
  }
  
  /* Captions */
  .caption-above {
      display: inline;
  }
  
  .caption-below {
      margin-top: 16px
  }
  /* ^^^ PaginationTableStyle ^^^ */
  
  /* vvv RightMenu vvv */
  /* Hide for mobile, show later */
  .sidebar {
    display: none;
  }
  @media (min-width: 768px) {
    .sidebar {
      position: fixed;
      top: 51px;
      bottom: 0;
      left: 0;
      z-index: 1000;
      display: block;
      padding: 20px;
      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
      background-color: #f5f5f5;
      border-right: 1px solid #eee;
    }
  }
  
  /* Sidebar navigation */
  .nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
  }
  .nav-sidebar > li > a {
    border-left: 5px solid transparent;
    padding-right: 20px;
    padding-left: 10px;
    cursor: pointer;
  }
  .nav-sidebar > .active > a,
  .nav-sidebar > .active > a:hover,
  .nav-sidebar > .active > a:focus {
    color: #0277bd;
    border-left: 5px solid #428bca;
    background-color: #ededed;
  }
  .nav-sidebar.submenu {
    margin-left: 0px;
    margin-right: 0px;
  }
  .nav-sidebar.submenu > li > a {
    padding-left: 42px;
  }
  
  .btn-back > div{
    font-size: 18px;
    color: #0277bd;
    margin-left: 55px;
    position: absolute;
    line-height: 35px;
  }
  
  .btn-back > a{
    background: white;
    margin-left: 10px;
    margin-top: 0px;
    padding-right: 8px;
    padding-left: 8px;
    position: absolute;
  }
  .btn-back{
    position: relative;
    height: 35px;
    margin-bottom: 20px;
    min-width: 200px;
  }
  /* ^^^ RightMenu ^^^ */
  
  /* vvv SelectTimeframe vvv */
  .rdt {
    position: relative;
  }
  .rdtPicker {
    display: none;
    position: absolute;
    padding: 0px;
    margin-top: 1px;
    width: auto;
    z-index: 99999 !important;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    border: 1px solid #f9f9f9;
  }
  .rdtOpen .rdtPicker {
    display: block;
  }
  .rdtStatic .rdtPicker {
    box-shadow: none;
    position: static;
  }
  
  .rdtPicker .rdtTimeToggle {
    text-align: center;
  }
  
  .rdtPicker table {
    width: 100%;
    margin: 0;
  }
  .rdtPicker td,
  .rdtPicker th {
    text-align: center;
    height: 28px;
  }
  .rdtPicker td {
    cursor: pointer;
  }
  .rdtPicker td.rdtDay:hover,
  .rdtPicker td.rdtHour:hover,
  .rdtPicker td.rdtMinute:hover,
  .rdtPicker td.rdtSecond:hover,
  .rdtPicker .rdtTimeToggle:hover {
    background: #eeeeee;
    cursor: pointer;
  }
  .rdtPicker td.rdtOld,
  .rdtPicker td.rdtNew {
    color: #999999;
  }
  .rdtPicker td.rdtToday {
    position: relative;
  }
  .rdtPicker td.rdtToday:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #428bca;
    border-top-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 4px;
    right: 4px;
  }
  .rdtPicker td.rdtActive,
  .rdtPicker td.rdtActive:hover {
    background-color: #428bca;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  }
  .rdtPicker td.rdtActive.rdtToday:before {
    border-bottom-color: #fff;
  }
  .rdtPicker td.rdtDisabled,
  .rdtPicker td.rdtDisabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
  }
  
  .rdtPicker td span.rdtOld {
    color: #999999;
  }
  .rdtPicker td span.rdtDisabled,
  .rdtPicker td span.rdtDisabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
  }
  .rdtPicker th {
    border-bottom: 1px solid #f9f9f9;
  }
  .rdtPicker .dow {
    width: 14.2857%;
    border-bottom: none;
  }
  .rdtPicker th.rdtSwitch {
    width: 100px;
  }
  .rdtPicker th.rdtNext,
  .rdtPicker th.rdtPrev {
    font-size: 21px;
    vertical-align: top;
  }
  
  .rdtPrev span,
  .rdtNext span {
    display: block;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
  }
  
  .rdtPicker th.rdtDisabled,
  .rdtPicker th.rdtDisabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
  }
  .rdtPicker thead tr:first-child th {
    cursor: pointer;
  }
  .rdtPicker thead tr:first-child th:hover {
    background: #eeeeee;
  }
  
  .rdtPicker tfoot {
    border-top: 1px solid #f9f9f9;
  }
  
  .rdtPicker button {
    border: none;
    background: none;
    cursor: pointer;
  }
  .rdtPicker button:hover {
    background-color: #eee;
  }
  
  .rdtPicker thead button {
    width: 100%;
    height: 100%;
  }
  
  td.rdtMonth,
  td.rdtYear {
    height: 50px;
    width: 25%;
    cursor: pointer;
  }
  td.rdtMonth:hover,
  td.rdtYear:hover {
    background: #eee;
  }
  
  .rdtCounters {
    display: inline-block;
  }
  
  .rdtCounters > div {
    float: left;
  }
  
  .rdtCounter {
    height: 100px;
  }
  
  .rdtCounter {
    width: 40px;
  }
  
  .rdtCounterSeparator {
    line-height: 100px;
  }
  
  .rdtCounter .rdtBtn {
    height: 40%;
    line-height: 40px;
    cursor: pointer;
    display: block;
  
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
  }
  .rdtCounter .rdtBtn:hover {
    background: #eee;
  }
  .rdtCounter .rdtCount {
    height: 20%;
    font-size: 1.2em;
  }
  
  .rdtMilli {
    vertical-align: middle;
    padding-left: 8px;
    width: 48px;
  }
  
  .rdtMilli input {
    width: 100%;
    font-size: 1.2em;
    margin-top: 37px;
  }
  
  .btn {
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
  }
  
  .absolute_intreval {
    margin:0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
  }
  
  .span_minus {
    font-weight: normal;
    font-size: 12px;
    padding-top: 12px;
    padding-right: 2px;
  }
  
  .form-control-select{
    width: 270px;
    float: right;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .rdt {
    display: inline-block;
    width: 270px;
    float: right;
  }
  
  @media (max-width: 1350px) {
    .rdt {
      width: 50%;
    }
    .form-control-select{
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    .form-control-select{
      width: 100%;
    }
  }
  /* ^^^ SelectTimeframe ^^^ */
  
  /* vvv servers vvv */
  .table-executive {
    border: 1px solid #ddd;;
  }
  .table-executive > tbody > tr > td{
    height: 40px;
    font-weight: bold;
  }
  
  /* calls chart styles*/
  .chart_header {
    color:#ffffff;
    background-color:#2d3844;
    margin-bottom: 0px;
    padding: 0px;
    text-indent: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.6px;
    text-align: left;
  }
  .chart_table {
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px;
    border-top: 2px solid #d9d9d9;
    border-left: 2px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
    border-right: 2px solid #d9d9d9;
  }
  
  .td_menu {
    border-top: 2px solid #d9d9d9;
    border-left: 2px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
    border-right: 2px solid #d9d9d9;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px;
    width: 20%;
    background-color:#EFFBFB;
  }
  
  .td_grid {
    width: 65%;
  }
  
  /*chart*/
  .call_grid {
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 0px;
  }
  
  .table_fixed{
    table-layout:fixed
  }
  .bc .glyphicon {
    cursor: default;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .disableClick {
    pointer-events: none;
  }
  
  
  /* Real/Synth calls Charts modal */
  .modal_open {
    position: fixed;
    top: 70px;
    left: 5%;
    width: 90%;
    height:80%;
    z-index: 2000;
  }
  .modal_close {
    position: relative;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0px;
  }
  
  .background-shadow{
    position: fixed;
    top: 52px;
    left: 0px;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1999;
  }
  
  .custom-call-grid{
    width: 33%;
    float: left;
  }
  
  @media (max-width: 1500px) {
    .custom-call-grid{
      width: 50%;
    }
  }
  
  @media (max-width: 1020px) {
    .custom-call-grid{
      width: 100%;
    }
  }
  
  .chart_header_open {
    color:#ffffff;
    background-color:#2d3844;
    margin-bottom: 0px;
    padding: 0px;
    text-indent: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 60px;
    letter-spacing: 0.6px;
    text-align: left;
  }
  
  .charts_icon {
    position: absolute;
    right: 20px;
    top: 22px;
  }
  
  .charts_icon:active {
    color: #0277bd;
  }
  
  .chart_row {
    margin-right: 0px
  }
  
  .main-row {
    position: relative;
  }
  
  .chart_placeholder {
    color: grey;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    height: 150px;
    line-height: 150px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .region-call-type {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 35px;
  }
  
  .form-group {
    width: unset;
  }
  @media (min-width: 768px){
    .top-60px{
      margin-top: -60px;
    }
    .top60px{
      margin-top: 60px;
    }
  }
  /* ^^^ servers ^^^ */
  .tableContainer {
      border-collapse:collapse;
      width: 100%;
  }
  
  .tableTd {
    margin: 0;
    padding: 0;
  }
  
  .tableContainer > tr:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }
  
  .tableContainer > tr > td {
    padding: -8px;
  }
  
  .total {
    height: 40px;
     width: 100%;
  }
  
  .secondLayer {
    height: 40px;
     width: 100%;
  }
  
  .thirdLayer {
    height: 40px;
     width: 100%;
  }
  
  .fourthLayer {
    height: 40px;
     width: 100%;
  }
  
  .item100{
    height: 40px;
    width: 100%;
    float: left;
  }
  
  .item50 {
      width: 50%;
      height: 40px;
      float: left;
  }
  
  .item25 {
      width: 25%;
      height: 40px;
      float: left;
  }
  
  .item12 {
      width: 12.5%;
      height: 40px;
      float: left;
  }
  
  .item6 {
      width: 6.25%;
      height: 40px;
      float: left;
  }