* {margin: 0; padding: 0;}
body {
    font-size: 13px;
}

.clear {
    width: 100%;
    clear: both;
}
hr {
    border-color: #000;
}
.navbar-inverse {
    background-image: none;
    background-color: #303e4a;
}
.navbar-brand {
    height: auto;
    padding: 5px 15px;
}
.navbar-brand img {
   loat: left;
}
.navbar-brand span {
    line-height: 41px;
    color: #fff;
}
.glyphicon {
    cursor: pointer;
}
.navbar-right {
    padding-right: 20px;
}

  /*
   * Main content
   */

.container {
    padding: 0;
    height: 100%;
    width: 100%;
}

.chart_row .col {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.table_row {
    margin-top: 150px;
    margin-left: 120px;
    margin-right: 120px;
}

.table_name {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: bold;
}

.chart{
    width: 30%;
    height:100%;
    margin: auto;
}

.table {
    margin-bottom: 50px;
}

/* table.responsive-table thead {
    display: block;
    float: left;
} */

.recharts-wrapper {
    width:100% !important;
    height:100%;
    margin: auto;
}

.recharts-surface {
    width:inherit !important;
    height:100%;
    margin: auto;
}