* {
    margin: 0; 
    padding: 0;
}

html, body {
    background-color:#939393;
}

body {
    font-size: 18px;
}

.clear {
    width: 100%;
    clear: both;
}

/* Navbar */

.navbar-header {
}

.navbar-inverse {
    background-color:#363636;
}
.navbar-brand {
    height: auto;
    padding: 5px 15px;
}
.navbar-brand img {
   float: left;
}
.navbar-brand span {
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.navbar-right {
    padding-right: 20px;
}

/* end Navbar */

/*  Main content */

#root {
    height:100%;
    display:block;
}

.container-fluid {
    height:100%;
}

.main {
    height:100%;
    display: flex;
}

.switcher {
    padding-top: 20px;
    background-color: #779490;
}

.switcher ul {
	text-align: center; 
    display: flex;
    width: 100%;
    flex-direction: column;
}

.switcher ul li {
    width: 100%;
}

.switcher ul li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #363636;
    font-family: 'Montserrat', sans-serif;
    border-right: 3px solid #ccc;
}

.row {
    margin: 0;
}

.main_monitoring {
    height:100%;
    padding: 20px;
}
    
.charts > .col  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chart {
    text-align: center;
    margin-bottom: 50px;
    background-color:	#444444;
    box-shadow: 2px 2px 3px #1c242b;
    padding: 20px;
}

.chart_head_text {
   font-size: 21px;
   font-family: 'Montserrat', sans-serif;
   color: #eaebec;
}

.recharts-wrapper {
    width:100% !important;
    height:100% !important;
    margin: auto;
}

.recharts-surface {
    width:100% !important;
    height:100% !important;
    margin: auto;
}

.recharts-layer {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
} 

.recharts-cartesian-grid {

}

.xAxis {
    
}

.no_data {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: center;
    height: 100%;
    width: auto;
}

