* {margin: 0; padding: 0;}

body {
    font-size: 13px;
}

.clear {
    width: 100%;
    clear: both;
}
hr {
    border-color: #000;
}
.navbar-inverse {
    background-image: none;
    background-color: #303e4a;
}
.navbar-brand {
    height: auto;
    padding: 5px 15px;
}
.navbar-brand img {
   loat: left;
}
.navbar-brand span {
    line-height: 41px;
    color: #fff;
}
.glyphicon {
    cursor: pointer;
}
.navbar-right {
    padding-right: 20px;
}

  /*
   * Main content
   */

  .container {
    padding: 50px;
    height: 100%;
    width: 100%;
  }

  .chart{
      width: 33%;  /* Or whatever */
      margin: auto;
  }

.recharts-surface {
    margin: auto;
    width: auto;  /* Or whatever */
}